@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 49.1, 40.7%, 94.7%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 16.2, 74.6%, 44.7%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0, 0%, 18.8%;
    --secondary-foreground: 0, 0.5%, 59.4%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 270, 2.7%, 14.5%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 213.3, 20%, 82.4%;
    --ring: 240 5.9% 10%;
    --radius: 0.4rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media screen and (max-width: 430px) {
  .hide-placeholder::placeholder {
    @apply invisible;
  }
}

.glass {
background: rgba(255, 255, 255, 0.05);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}